---
interface Props {
  backgroundText?: string;
}

const {
  backgroundText = "",
} = Astro.props;

import MaterialIcon from "../icons/MaterialIcon.astro";
---

<div class="bg-gray-50 p-4 rounded-md shadow-sm">
  <h2 class="text-lg font-semibold mb-3 text-red-700 flex items-center gap-2">
    <MaterialIcon icon="receipt_long" />
    Background
  </h2>
  <p class="text-gray-800">
    {backgroundText}
  </p>
</div>