---
import MainLayout from "../layouts/MainLayout.astro";
import CharacterSheet from "../components/character/basics/CharacterSheet.astro";
import { loadCharacter } from "../services/characterService";
import MaterialIcon from '../components/ui/MaterialIcon.astro'

// Cargar datos del personaje desde el servicio
// En un entorno de client-side, esto podría cargar desde localStorage
// En un entorno de server-side, usará los datos por defecto
const characterData = loadCharacter();
---

<MainLayout title="Basic Info">
  <div class="bg-white p-4 sm:p-6 rounded-lg shadow-md max-w-4xl mx-auto">
    <div class="flex justify-between items-center gap-3 mb-3">
      <h1
        class="text-2xl sm:text-3xl font-bold text-red-700 flex items-center gap-2 mb-3"
      >
        <MaterialIcon icon="person" class="!text-3xl sm:!text-4xl" />
        Character Sheet
      </h1>
    </div>

    <CharacterSheet character={characterData} />
  </div>
</MainLayout>
