---
import MainLayout from "../layouts/MainLayout.astro";
import SpellList from "../components/spells/SpellList.astro";
import MaterialIcon from "../components/icons/MaterialIcon.astro";
---

<MainLayout title="Spells">
  <div class="mb-6 px-2.5 pt-6 max-w-4xl mx-auto">
    <h1
      class="text-2xl sm:text-3xl font-bold text-red-700 flex items-center gap-2"
    >
      <MaterialIcon icon="auto_fix_high" class="text-3xl" />
      Spells
    </h1>
  </div>
  <SpellList />
</MainLayout>
