---
import type { InventoryItem, Coins } from "../../../types/character.types";
import MaterialIcon from "../../ui/MaterialIcon.astro";
import ItemsList from "./ItemsList.astro";
import CoinsDisplay from "./CoinsDisplay.astro";
import BlockCard from "../../ui/BlockCard.astro";

interface Props {
  items: InventoryItem[];
  coins: Coins;
}

const { items, coins } = Astro.props;
---

<BlockCard class="mb-4">
  <Fragment slot="title">
    <MaterialIcon icon="toll" />
    <span>Currency</span>
  </Fragment>
  <Fragment slot="content">
    <CoinsDisplay coins={coins} />
  </Fragment>
</BlockCard>


<BlockCard>
	<Fragment slot="title">
		<MaterialIcon icon="cases" />
		<span>Items</span>
	  </Fragment>
	  <Fragment slot="content">
		<ItemsList items={items} />
	  </Fragment>
</BlockCard>
