---
import type { InventoryItem, Coins } from "../../../types/character.types";
import MaterialIcon from "../../icons/MaterialIcon.astro";
import ItemsList from "./ItemsList.astro";
import CoinsDisplay from "./CoinsDisplay.astro";

interface Props {
  items: InventoryItem[];
  coins: Coins;
}

const { items, coins } = Astro.props;
---

<div class="bg-white rounded-lg shadow-md overflow-hidden border border-gray-200">
  <div class="bg-red-700 text-white px-4 py-2 flex items-center gap-2">
    <MaterialIcon icon="inventory_2" />
    <h3 class="font-semibold text-lg">Inventory</h3>
  </div>
  
  <div class="py-4 px-3">
    <div class="mb-4">
      <CoinsDisplay coins={coins} />
    </div>
    
    <div>
      <div class="flex justify-between items-center mb-2">
        <h4 class="text-xl font-medium text-gray-700 ml-1">Items</h4>
      </div>
      
      <ItemsList items={items} />
    </div>
  </div>
</div>