---
import type { Traits } from "../../../types/character.types";
import BlockCard from "../../ui/BlockCard.astro";
import TraitsList from "./TraitsList.astro";

interface Props {
  traits: Traits;
}

const { traits } = Astro.props;
const { classFeatures, speciesTraits, feats } = traits;
---

<div class="space-y-8">
  <!-- Class Features -->
  <BlockCard>
    <Fragment slot="title">Class Features</Fragment>
    <Fragment slot="content">
      <TraitsList traits={classFeatures} showLevel={true} />
    </Fragment>
  </BlockCard>

  <!-- Species Traits (TODO: Remove 'hidden' class when info is revealed) -->
  <BlockCard class="hidden">
    <Fragment slot="title">Species Traits</Fragment>
    <Fragment slot="content">
      <TraitsList traits={speciesTraits} />
    </Fragment>
  </BlockCard>

  <!-- Feats -->
  <BlockCard>
    <Fragment slot="title">Feats</Fragment>
    <Fragment slot="content">
      <TraitsList traits={feats} />
    </Fragment>
  </BlockCard>
</div>
