---
const className = Astro.props.class
---

<div
  class=`bg-white rounded-lg shadow-md overflow-hidden border border-gray-200 ${className}`
>
  <h2 class="bg-red-700 text-white px-4 py-2 flex items-center gap-2 font-semibold text-lg">
    <slot name="title" />
  </h2>
  <slot name="content" />
</div>
